@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif !important;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}


:root {
    --color-primario: #1e3a8a;
    --color-secundario: #f59e0b;
}



.flex {
    display: flex;
}

h1 {
    color: var(--text-color-default);
    font-size: 40px;
    font-weight: bold;
}

h2 {
    color: var(--color-primario);
}

h3 {
    font-size: 18px;
    /* letter-spacing: px; */
}

h4 {
    font-size: 15px;
    color: var(--color-primario);
    font-weight: 600;
}

a {
    text-decoration: none;
}

p {
    color: #848484;
    font-size: 14px;
}

p.error{
    color: red;
}

p.exito{
    color:green;
}


.btn-principal {
    background-color: var(--color-primario);
    border: none;
    padding: 10px;
    width: 70%;
    border-radius: 19px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: all .5s;
    margin: 0 auto;
    margin-top: 2px;
    font-size: 15px;
    display:flex;
    justify-content: center;
    align-content: center;
}


.btn-principal.filtros {
    width: max-content !important;
    margin: 0 !important;
    height: 50px;


    
}


    .btn-principal:hover {
        filter: brightness(1.2);
        /* box-shadow: 0 6px 12px rgba(110, 59, 59, 0.2); */
        box-shadow: 0px 2px 10px rgb(132, 127, 127);
        background-color: var(--color-secundario);
    }

    .btn-principal.enviar:hover {
        background-color: var(--color-primario);
        border: 1px solid #fff;
        color: #fff;
    }



/*-------------------HEADER---------------------*/

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-primario);
}

    header h1 {
        color: #fff;
        letter-spacing: 1px;
        font-size: 32px;
    }


    header img {
        height: 98%;
    }

    header .contenedorUsuario {
        height: 100%;
        gap: 15px;
        max-width: 200px;
        position: relative;
    }
        header .contenedorUsuario .left {
            display: flex;
            align-items: center;
        }

        header .contenedorUsuario span {
            color: #162938;
            font-weight: 600;
        }

        header .contenedorUsuario .right {
            display: flex;
            align-items: center;
        }

            header .contenedorUsuario .right svg {
                height: 26px;
            }

        /*Dropdown content header, de todos los usuarios*/
        header .contenedorUsuario .dropdownContent {
            position: absolute;
            cursor: pointer;
            border: 2px solid var(--color-primario);
            justify-content: center;
            align-items: center;
            top: 98px;
            width: max-content;
            min-width: 100%;
            text-align: center;
            display: none;
            flex-direction: column;
            background: white;
            z-index: 1000;
        }

        header .contenedorUsuario:hover .dropdownContent {
            display: flex;
        }

            header .contenedorUsuario .dropdownContent a {
                width: 100%;
                height: 45px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all .5s;
            }

                header .contenedorUsuario .dropdownContent a span {
                    color: var(--color-primario);
                }

                header .contenedorUsuario .dropdownContent a:hover {
                    background-color: var(--color-primario);
                    box-shadow: 0px 3px 10px rgb(38, 38, 38);
                }

                    header .contenedorUsuario .dropdownContent a:hover span {
                        color: white;
                    }


/*-----------------SECTION--------------------------*/


section.index {
    padding-top: 115px;
    padding-left: 17px;
    padding: 115px 17px 0 17px;
}


/*-------------------NAVIGATION IZQUIERDA------------------------*/

ul.primary-navigation {
    display: flex;
    flex-direction: column;
    width: 200px;
}

    ul.primary-navigation li {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 60px;
        padding: 10px;
        text-align: center;
        border: 1px solid var(--color-primario);
        cursor: pointer;
        transition: all .5s;
    }

    ul.primary-navigation li a{
        height:100%;
        width:100%;
    }


        ul.primary-navigation li.active {
            background-color: var(--color-primario);
        }

        ul.primary-navigation li:hover {
            background-color: var(--color-primario);
            box-shadow: 0px 3px 10px rgb(38, 38, 38);
        }

            ul.primary-navigation li:hover a h3 {
                color: #fff;
            }

        ul.primary-navigation li a h3 {
            color: var(--color-primario);
        }

        ul.primary-navigation li.active a h3 {
            color: #fff;
        }


/*------------------CONTENEDOR PRINCIPAL (TABLE, TD, SVG, FILTROS, ETC)--------------------*/

.general-container {
    width: calc(100% - 200px);
    padding-left: 40px;
}

    .general-container .information-container {
        min-height: 470px;
        border: 2px solid var(--color-primario);
        padding: 10px;
    }

        .general-container .information-container table {
            width: 100%;
            max-width: 1000px;
            min-width: 800px;
            margin: 50px auto 0 auto;
        }


        .general-container .information-container table, th, td {
            border: none;
            border-collapse: collapse;
            text-align: center;
        }

            .general-container .information-container table tr:nth-child(1) {
                background-color: var(--color-primario) !important;
                color: #fff;
                height: 35px;
            }

            .general-container .information-container table td {
                height: 35px;
            }

                .general-container .information-container table td a {
                    height: 100%;
                    display: flex;
                    align-items: center;
                }

                .general-container .information-container table td.svg-container {
                    display: flex;
                    gap: 10px;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                }


            .general-container .information-container table tr:nth-child(odd) {
                background-color: #1e3b8a48;
            }

            .general-container .information-container table tr td a:hover svg {
                stroke: var(--color-primario);
            }

                .general-container .information-container table tr td a:hover svg.cross-icon {
                    fill: var(--color-primario);
                }

            .general-container .information-container table tr td a svg {
                height: 100%;
                stroke: #000;
                cursor: pointer;
                transition: all .4s;
            }

                .general-container .information-container table tr td a svg.edit-icon {
                    height: 75%;
                }

                .general-container .information-container table tr td a svg.cross-icon {
                    fill: #000;
                }





        .general-container .information-container .filtrosContenedor {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-content: center;
            align-items: center;
        }

            .general-container .information-container .filtrosContenedor a {
                text-decoration: none;
            }

            .general-container .information-container .filtrosContenedor .contenedor-info {
                display: flex;
                gap: 8px;
            }


/*---------------FORM (CUALQUIER FORMULARIO)-----------------*/



form {
    width: 350px;
    padding: 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

form.CRUD{
    position: relative;
    transform: none;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 600px;
}
    form.CRUD div:nth-of-type(2n) {
        margin: 0 !important;
    }

form.FILTER{
    width: 570px;
    padding: 0;
    position: relative;
    transform: none;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

    form div:nth-of-type(even){
        margin: 0 !important;
    }

    form.FILTER .contenedor-info {
        display: flex;
        flex-direction: column;
    }





    form h3 {
        margin-bottom: 35px;
        text-align: center;
        border-bottom: 1px solid #05298e;
        padding-left: 2px;
        text-decoration: none;
        letter-spacing: 1px;
        color: var(--color-primario);
        font-weight: 400;
    }


    form .row {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 10px 0;
    }

        form .row label {
            margin-bottom: 5px;
            width: max-content;
        }

            form .row label span {
                font-size: 17px;
            }


    form div:nth-of-type(even) {
        margin-top: 30px;
    }

    /* ------------------ */


        

    form input {
        outline: 0;
        width: 100%;
        height: 39px;
        border-radius: 8px;
        display: block;
        border: 2px solid var(--color-primario);
        outline: none;
        font-size: 15px;
        color: var(--color-grey);
        padding: 10px;
        transition: all 0.3s ease;
    }

        form input:focus {
            border-color: #f59e0b;
            box-shadow: 0px 2px 10px rgb(132, 127, 127);
        }


        form input::placeholder {
            font-size: 15px;
            color: #485C48;
        }


    form .btn-principal {
        margin-top: 2rem;
    }


    form .restablecer {
        text-decoration: none;
        color: var(--color-primario);
        font-size: 15px;
        transition: all 0.3s ease;
    }

        form .restablecer:hover {
            color: var(--color-secundario);
        }

    form .msj-aviso {
        margin: 20px 0;
    }