@{
    Layout = "_LoginLayout";
    ViewData["title"] = "Cambiar contraseña";
}


<div class="login-card">
    <h2 class="login-title">Cambiar la contraseña</h2>
    <p class="login-subtitle">Ingresa su contraseña vieja para poder modificarla.</p>

    <form method="post" asp-controller="Auth" asp-action="ChangePasswordAccount">
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label for="username" class="form-label">Vieja contraseña</label>
            <input type="password" class="form-input" id="viejaPassword" name="passwordActual" required />
        </div>

        <div class="form-group">
            <label for="username" class="form-label">Nueva contraseña</label>
            <input type="password" class="form-input" id="viejaPassword" name="nuevaPassword" required />
        </div>

        <div class="form-group">
            <label for="username" class="form-label">Confirmar contraseña</label>
            <input type="password" class="form-input" id="viejaPassword" name="confirmarPassword" required />
        </div>



        <button type="submit" class="btn-principal" id="loginBtn">
            <div class="loading"></div>
            <span>Cambiar contraseña</span>
        </button>



        @if (TempData["ErrorMessageChange"] != null)
 {
        <div class="error-message" id="errorMessage">
            <span>@TempData["ErrorMessageChange"]</span>
        </div>
 }

        <a asp-controller="Auth" asp-action="ReturnToPanel" class="forgot-password" style="text-align:center; padding-top:20px">Volver</a>


    </form>

</div>