@{
    Layout = "_LoginLayout";
    ViewData["title"] = "Cambiar contraseña";
}


<section>


    <form asp-controller="Auth" asp-action="ChangePasswordAccount" method="post">
        <h3>Cambiar Contraseña</h3>

        @Html.AntiForgeryToken()

        <div class="row-two">
            <div class="grupo">
                <label for="passwordActual">Vieja contraseña</label>
                <input type="password" class="form-control" id="viejaPassword" name="passwordActual" required />
            </div>
        </div>

        <div class="row-two">
            <div class="grupo">
                <label for="nuevaPassword">Nueva contraseña</label>
                <input type="password" class="form-control" id="nuevaPassword" name="nuevaPassword" required />
            </div>
        </div>

        <div class="row-two">
            <div class="grupo">
                <label for="confirmarPassword">Confirmar contraseña</label>
                <input type="password" class="form-control" id="confirmarPassword" name="confirmarPassword" required />
            </div>
        </div>


        <button type="submit" class="btn-principal">Cambiar Contraseña</button>

        @if (TempData["ErrorMessageChange"] != null)
    {
        <div class="alert alert-danger">
            <p style="color:red;">@TempData["ErrorMessageChange"]</p>
        </div>
    }



        <br>

        <a asp-controller="Auth" asp-action="ReturnToPanel">Volver</a>


        <br>
    </form>

</section>