@{
    Layout = "_LoginLayout";
    ViewData["title"] = "Iniciar sesion";
    var errorMessage = TempData["ErrorMessage"] as string;
}



<div class="login-card">
    <h2 class="login-title">Ingresar a cuenta</h2>
    <p class="login-subtitle">Accede a tu panel</p>

    <form method="post" asp-controller="Auth" asp-action="Login">
        <div class="form-group">
            <label for="username" class="form-label">Usuario</label>
            <input type="text"
                   id="username"
                   name="username"
                   class="form-input"
                   maxlength="100"
                   required
                   placeholder="Ingresa tu usuario">
        </div>

        <div class="form-group">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password"
                   id="password"
                   name="password"
                   class="form-input"
                   maxlength="100"
                   required
                   placeholder="Ingresa tu contraseña">
        </div>

        <a asp-controller="Auth" asp-action="RestorePassword" class="forgot-password">¿Olvidaste tu contraseña?</a>

        <button type="submit" class="btn-principal" id="loginBtn">
            <div class="loading"></div>
            <span>Iniciar Sesión</span>
        </button>

        <!-- Error Message (hidden by default) -->

        @if (!string.IsNullOrEmpty(errorMessage))
        {
                <div class="error-message" id="errorMessage">
                    ❌ <span>@errorMessage</span>
                </div>
        }


        
    </form>

</div>


