@{
    Layout = "_LoginLayout";
    ViewData["title"] = "Recuperar contraseña";
}


<section>
    <form>
        <h3>Recuperar contraseña</h3>

        <div class="row-two">
            <div class="grupo">
                <label for="">
                    <span>Ingrese su correo </span>
                </label>
                <input type="text" name="correo">
            </div>
        </div>


        <button class="btn-principal" type="submit">Enviar enlace</button>
        
        <p class="msj-aviso">Si el correo está registrado, recibirás un enlace para restablecer tu contraseña.</p>

        <a asp-controller="Auth" asp-action="Login" class="restablecer">Volver a inicio de sesion</a>
    </form>
</section>