@{
    Layout = "_LoginLayout";
    ViewData["title"] = "Recuperar contraseña";
}


<section>
    <form method="post" asp-controller="Auth" asp-action="RestorePassword">
        <h3>Recuperar contraseña</h3>

        <div class="row-two">
            <div class="grupo">
                <label for="">
                    <span>Ingrese su correo </span>
                </label>
                <input type="text" name="correo" required maxlength="100">
            </div>
        </div>

        <button class="btn-principal" type="submit">Enviar enlace</button>

        @if (TempData["Message"] != null)
        {
        <div class="alert alert-danger">
            <p style="color:red;">@TempData["Message"]</p>
        </div>
        }

        <br>

        <a asp-controller="Auth" asp-action="Login" class="restablecer">Volver a inicio de sesion</a>
    </form>
</section>