@model VIPS.Web.Models.UsuarioModel

@{
    Layout = "_AdminLayout";
}

<h2>Agregar Nuevo Usuario</h2>

<form id="formAgregarUsuario" asp-controller="AdminGeneral" asp-action="CreateUser" method="post">
    @Html.AntiForgeryToken()

    <div class="form-row">
        <div class="form-group">
            <label for="Usuario">Usuario*</label>
            <input type="text" id="Usuario" name="Usuario" required>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <label for="Dni">DNI *</label>
            <input type="text" id="Dni" name="Dni" required>
        </div>

        <div class="form-group">
            <label for="Nombre">Nombre *</label>
            <input type="text" id="Nombre" name="Nombre" required>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <label for="Apellido">Apellido *</label>
            <input type="text" id="Apellido" name="Apellido" required>
        </div>

        <div class="form-group">
            <label for="Email">Email *</label>
            <input type="email" id="Email" name="Email" required>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <label for="Telefono">Teléfono *</label>
            <input type="text" id="Telefono" name="Telefono" required>
        </div>

        <div class="form-group">
            <label for="TelefonoEmergencia">Teléfono de Emergencia</label>
            <input type="text" id="TelefonoEmergencia" name="TelefonoEmergencia">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <label for="Contrasenia">Contraseña *</label>
            <input type="password" id="Contrasenia" name="Contrasenia" required>
        </div>

        <div class="form-group">
            <label for="IdRol">Rol *</label>
            <select id="IdRol" name="IdRol" required>
                <option value="">Seleccione un rol</option>
                @foreach (var rol in ViewBag.Roles)
                {
                <option value="@rol.IdRol">@rol.Nombre</option>
                }
            </select>
            <span class="field-validation-error" data-valmsg-for="IdRol" data-valmsg-replace="true"></span>
        </div>
    </div>



    <div class="form-actions">
        <button type="submit" class="btn-primary">Crear Usuario</button>
        <a class="btn-secondary" asp-controller="AdminGeneral" asp-action="UserManagement">Volver</a>
    </div>


    @if (TempData["ErrorMessageCreateUser"] != null)
     {
        <div class="alert alert-danger">
            <p style="color:red;">@TempData["ErrorMessageCreateUser"]</p>
        </div>
     }
</form>