@{
    Layout = "_AdminLayout";
}

<div class="filtrosContenedor">
    <div class="contenedor-info">
        <label for="filtroColumna"><h3>Columna:</h3></label>
        <select id="filtroColumna">
            <option value="id_usuario" selected>ID Pedido</option>
            <option value="rol">Fecha de ingreso</option>
            <option value="fecha_alta">Fecha estimada envio</option>
            <option value="ultimo_acceso">Estado</option>
        </select>

        <label for="ordenUsuario"><h3>Orden:</h3></label>
        <select id="ordenUsuario">
            <option value="asc" selected>Ascendente</option>
            <option value="desc">Descendente</option>
        </select>
    </div>


    <a href="">
        <h3>Buscar pedido</h3>
    </a>


    <a href="">
        <h3>Exportar a pdf</h3>
    </a>
</div>

<table>
    <tr>
        <th>Id pedido</th>
        <th>Fecha de ingreso</th>
        <th>Fecha Estimada envio</th>
        <th>Estado</th>
    </tr>


    <tr>
        <td>lautigomi</td>
        <td>Admin logistico</td>
        <td>18/05/2024</td>
        <td>20/08/2025</td>
    </tr>

    <tr>
        <td>lautigomi</td>
        <td>Admin logistico</td>
        <td>18/05/2024</td>
        <td>20/08/2025</td>
    </tr>

    <tr>
        <td>lautigomi</td>
        <td>Admin logistico</td>
        <td>18/05/2024</td>
        <td>20/08/2025</td>
    </tr>

    <tr>
        <td>lautigomi</td>
        <td>Admin logistico</td>
        <td>18/05/2024</td>
        <td>20/08/2025</td>
    </tr>

    <tr>
        <td>lautigomi</td>
        <td>Admin logistico</td>
        <td>18/05/2024</td>
        <td>20/08/2025</td>
    </tr>

    <tr>
        <td>lautigomi</td>
        <td>Admin logistico</td>
        <td>18/05/2024</td>
        <td>20/08/2025</td>
    </tr>

    <tr>
        <td>lautigomi</td>
        <td>Admin logistico</td>
        <td>18/05/2024</td>
        <td>20/08/2025</td>
    </tr>


</table>