<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VIPS</title>
    <link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/images/logo.png" />

</head>
<body>
    <!-- Header -->
    <div class="login-header">
        <div class="logo-container">
            <img src="~/images/logo.png" alt="Logo empresa VIPS">
        </div>
        <h1 class="header-title">VIPS</h1>
    </div>


    <main role="main" class="login-container">
        @RenderBody()
    </main>

    <!-- Footer -->
    <div class="login-footer">
        <div class="footer-text">
            © <span class="year">2025</span> VIPS. Todos los derechos reservados.
        </div>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
