<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VIPS</title>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/images/logo.png" />

</head>
<body>
    <header>
        <h1>VIPS</h1>
    </header>


    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <!--<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - VIPS.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>-->
   
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
